<!DOCTYPE html>
<html lang="en"">
<head>
    <title><%= type %></title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/ingreso.css">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="/images/user.jpg"/>
                </div>
                <h1><%= type %></h1> <br> <br>
                <form class="col-12" action="/entry/signup/save" method="POST">
                    <div class="form-group" id="user-group">
                        <input type="email" class="form-control" placeholder="Correo eléctrónico" name="email" required/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" required/>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>  Crear cuenta </button>
                </form>
                <div class="col-12 forgot">
                    <a href="/entry/login">¿Ya tienes una cuenta?</a>
                </div> <br>
                <div class="alert alert-danger" style="display: none;">
		            Invalid username and password.
		        </div>
		        <div class="alert alert-success" style="display: none;">
		            You have been logged out.
		        </div>
            </div>
        </div>
    </div>
</body>
</html>
